* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #39393a;
  --offset: #464648;
  --inputs: #5e5e61;
  --accent: #e6e6e6;
  --neutral: #b0b0b0;
  --text: white;
  --headings: "Comfortaa", sans-serif;
  --body: "Poppins", sans-serif;
  --box-shadow: 0px 3px 5px -2px black;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: var(--headings);
  font-weight: 700;
  color: var(--text);
}

main {
  background-color: var(--offset);
  margin: 1rem auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  flex-grow: 0.6;
  color: var(--text);
  padding: 0.5rem 1rem;
  background-color: var(--inputs);
  border: none;
  border-radius: 9999px;
  height: 2.2rem;
}

::placeholder {
  color: var(--neutral);
}

.inputs {
  font-family: var(--body);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}

.outputs {
  font-family: var(--body);
  padding: 1rem;
  background-color: var(--inputs);
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  color: var(--text);
  border-radius: 10px;
}

.button-container {
  margin: 1rem 0 0 0;
  display: flex;
  gap: 0.3rem;
}

button {
  font-family: var(--body);
  padding: 0.5rem;
  background: var(--inputs);
  border: none;
  color: var(--text);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--background);
}

.tip-output-container,
.bill-output-container {
  display: flex;
  justify-content: space-between;
}
